@media only screen and (min-width: 768px) and (max-width: 991px){

    .visit-link {
    
    padding: 5% 0px;
    

    }
    .feature-gap{
        display: none;
    }

    .container.section-head {
        max-width: 100%;
        margin: 0px 17%;

    }
    .section-head h3{
        margin: 0% 15%;
        margin-top: 1%;
        margin-bottom: 4%;
    }
    #video hr{
        width: 18%;
        margin: 0% 23%;
    }
    .new-img-logo img {
    height: 50px;
    }

    .visit-link a {

    margin-left: 15%;
    }

 
} 

@media only screen and (min-width: 480px) and (max-width: 767px){

    .card-img-text{
        text-align: center;
        padding-top:0rem!important;
    }

    .best-sells-section{
        padding-top:0px!important;
    }


    .card-img-box {
        margin: 3% 0px;
    }
    .card-img-text h3 {
        font-size: 3em;
        margin-bottom: 3%;
}
    .design-about-heading h3 {

        border-bottom: 2px solid black;
        /* margin: 20%; */
        padding-bottom: 4%;
    }

    .new-img-logo img {
        height: 40px;

    }

    .vid-box{
        display: none;
    }

    .feature-para {
    padding-top: 5%;
    padding-bottom: 0%;
    }

    .footer-top{
        display: none;
    }

    .mini-footer{
        display: block;

    }



    .mini-footer a{
        padding: 0% 7%;
    }

    .footer-foot{
        margin: 0% auto;
        margin-top: 3%;
        width: 25%;
        font-size:11px;
    }
}
