.top-navbar .top-nav-link{

    font-size: 14px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-transform: uppercase;

}

.safari-nav{
    display: none;
}
.carousel-item{
    height: 530px;
    width: 100%;
    background-attachment: fixed;

    
}
.carousel-image-1{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../img/four.jpg');
    background-size: cover;
    width: 100%;
}

.carousel-image-2{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../img/three.jpg');
    background-size: cover;
}

.carousel-image-3{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/one.jpg');
    background-size: cover;
}
.design-about-heading{
    padding-top: 20px;
    padding-right: 10%;
}
#new{
    background-color: #EDECEC;
}
#new hr{
    width: 10%;
}
.new{
    font-family: P22 underground;
    background-color: #EDECEC;
    padding: 3% 0px;
}
.new hr{
    width: 10%;
    color: black;
}


.new-img-logo img{
    width: 12%;
    height: 75px;
    padding-top: 4%;
}
.img-text-box{
    background-color: #FFF;
    color: black;
    width: 100%;
    border-bottom-left-radius: 50px;
}


.img-text-box a{
    width: 100px;
    border-radius: 0px;
    padding: 0px;
    font-size: 10px;
    float: right;


}

.img-text-box-link .btn{
    background-color: #a35d20;
    color: white;
}
.img-text-box-content{
    padding: 5% 15%;
}

.img-text-box-content h4{

    border-bottom: 2px solid #a35d20;
    padding-bottom: 5px;
}


.img-text-box-content:hover{
    background-color: #D2C6CA;
    border-bottom-left-radius: 50px;
}

.new-col-md-5{
    height: 400px;
}

.new-col-md-5 img{
    width: 100%;
    height: 90%;

}
#card{
    background-color: #F1F1F1;
}

#card img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      padding: 15% 0px;


}
.card-box{
    background-color: #e0e0e0;
}

.card-img-text{
    margin: 10% 0px;
}
.card-img-text h3{
    font-size: 3em;
    margin-bottom: 8%;
}
.card-img-box{
    margin: 2% 0px;
}

.card-img-box img{
    width: 100%;

}

/*.vid-head h3{
    padding: 0px 40%;
}*/

#video hr{
        width: 18%;
        margin: 0% 41%;
}

.vid-row{
    height: 400px;
    padding: 5% 0px;
}
.vid-row iframe{

    width: 100%;
    height: 100%;
}

#feature{
    background-color:#fffcf7;
    padding: 2%;
}
.section-head h3{
    width: 35%;
    margin: 2% auto 4% auto;
    font-weight: 700;
    font-size: 22px;
}
#feature hr{
    width: 18%;
    margin: 1% auto;
}
.feature-box img{

    width: 100%;
    height: 50%;

}

.feature-para {
    padding: 5% 0px;
    text-align: left;
    font-family: p22 underground;
}
h5.h-5{
    font-weight: 800;
}

.feature-para p{
    padding: 0% 0px;
    line-height: normal;

}

.visit-link{
    
}
.visit-link a{
    color: #2b1909;
    font-weight: 800;
    width: 35%;
    margin: 0% auto;
    text-align: center;
}


#footer{
    background-color: #0f0900;
    color: white;
}

#footer a{
    color: white;
}

.footer-bottom{
    margin: 0px 30%;
}

.footer-foot{
    margin: 0px auto;
    width: 22%;
}

.mini-footer{
    display: none;
}